.App {
  text-align: center;
  background-color: mediumaquamarine;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  height: 400px;
  background-color: antiquewhite;
  width: 100%;
}

